@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Poiret+One&display=swap');
@import "tailwindcss";
@source "../";


body{
  background-color: #FEFBF4;
}



.instrument-sans {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* globals.css — just add these 4 lines */
@keyframes marqueeUp {
  from { transform: translateY(0); }
  to   { transform: translateY(-50%); }
}